/* Poppins Google Font*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap');

/* Root CSS styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body CSS styles*/

body {
    font-family: 'Poppins', sans-serif;
}

html,
body {
    overflow-x: hidden !important;
    background-color: #F3F2F3;
}

/* Navbar CSS styles */

.navbar-icon {
    margin-top: -5px;
}

.nav {
    background-color: #FFFEFE;
    box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.15);
}

.nav-content {
    padding-left: 20rem;
}

.search {
    margin-right: 20rem;
}

.input-rounded-border {
    border-radius: 50px;
}

.btn-join {
    background-color: #2ED8B8;
    color: #FFF;
    border-radius: 50px;
    width: 6rem;
}

.btn-login {
    width: 8rem;
}

.circle {
    width: 35px;
    height: 35px;
    background-color: #2EDBB8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: -15rem;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 18px solid white;
    position: absolute;
}

h5 {
    padding: 10px;
}

/* Title Section Styles */

.titles {
    margin-left: 21rem;
}

.t2 {
    color: gray;
}

.t2:hover {
    color: #000;
}

/* Hero Section Styles*/

.boxer {
    height: 400px;
    width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    transition: box-shadow 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
}

.boxer:hover {
    box-shadow: 0 34px 38px rgba(0, 0, 0, 0.1);
}

.product-imgs {
    height: 210px;
    width: 60%;
}

.rate {
    position: absolute;
    background-color: #2EDBB8;
    color: #FFF;
    margin-top: -21.8rem;
    margin-left: 17.3rem
}

.profile {
    height: 30px;
    position: absolute;
    margin-top: 19rem;
    margin-left: -19rem;
    border-radius: 50px;
}

.profile2 {
    height: 30px;
    position: absolute;
    margin-top: 19rem;
    margin-left: -16rem;
    border-radius: 50px;
}

.profile3 {
    height: 30px;
    position: absolute;
    margin-top: 20rem;
    margin-left: -12rem;
    border-radius: 50px;
}

.center-container {
    margin-left: 20rem;
    margin-top: 3rem;
    gap: 50px;
    display: flex;
}

footer {
    margin-left: 20rem;
    margin-top: 5rem;
}

.copyright {
    margin-top: -5rem;
}

.address {
    margin-top: -4rem;
    margin-left: 5rem;
}

.s3 {
    margin-left: -15rem;
}

/* Closeable Alert Styles */

.alert-dismissible {
    background-color: #2EDBB8;
    height: 10rem;
    margin-top: -3rem;
}

.sub-content-2 {
    margin-left: 26.5rem;
    font-weight: 100 !important;
}

.display-6 {
    font-size: 1.8rem;
}

.font-weight-bold {
    font-weight: bold;
}

/* Mobile Screen Media Query */
@media only screen and (max-width: 820px) {
    .ipad-flex {
        display: flex;
    }

    .nav-content {
        padding-left: 0rem;
    }

    .btn-join {
        width: 15rem;
    }

    .btn-login {
        width: 8rem;
    }

    .titles {
        margin-left: 0;
    }

    .center-container {
        display: block !important;
        margin-left: 1.3rem;
    }

    footer {
        margin-left: 2rem;
        margin-top: 5rem;
    }

    .copyright {
        margin-top: 3rem;
        margin-left: 1rem;
    }

    .boxer {
        height: 400px;
        width: 380px;
    }

    .alert-dismissible {
        background-color: #2EDBB8;
        height: 10rem;
        margin-top: -3rem;
    }

    .sub-content-2 {
        margin-left: 3rem;
        font-weight: 100 !important;
    }

    .canopy {
        margin-left: -2rem;
    }

    .display-6 {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 425px) {
    .ipad-flex-one {
        display: none;
    }

    .canopy {
        margin-left: 0;
    }

    .alert-dismissible {
        background-color: #2EDBB8;
        height: 14rem;
        margin-top: -3rem;
    }
}

@media only screen and (max-width: 375px) {
    .ipad-flex-one {
        display: none;
    }

    .nav-content {
        padding-left: 0rem;
    }

    .btn-join {
        width: 5rem;
        margin-left: -1rem;
    }

    .btn-login {
        width: 8rem;
        margin-left: -2rem;
    }

    .input-rounded-border {
        width: 10rem;
    }

    .boxer {
        height: 370px;
        width: 350px;
    }

    .rate {
        margin-top: -19.8rem;
        margin-left: 15.3rem;
    }
}

@media only screen and (max-width: 320px) {
    .ipad-flex-one {
        display: none;
    }

    .nav-content {
        padding-left: 0rem;
    }

    .btn-join {
        width: 5rem;
        margin-left: -1rem;
    }

    .btn-login {
        width: 8rem;
        margin-left: -2rem;
    }

    .input-rounded-border {
        width: 7rem !important;
    }

    .boxer {
        height: 360px;
        width: 340px;
    }

    .rate {
        margin-top: -19rem;
        margin-left: 9.3rem;
    }

    .copyright {
        margin-top: 3rem;
        margin-left: -1rem;
    }
}